<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gduf.clock.dao.DailyCommentMapper">
  <resultMap id="BaseResultMap" type="com.gduf.clock.entity.DailyComment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="daily_map" jdbcType="VARCHAR" property="dailyMap" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
  </resultMap>
</mapper>